



body {
    
    background-image: url('\Images\\imgball.jpg');
    width:  100%;
    height: 100%;
     /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
	
    background-size: cover; 
    position: fixed;
    
   }


   #canvas {
    /* or absolute */
      
   
    width:  99%;
    height: 99%;
    
   /* margin-top: ;
   margin-left: ; */
   
}